In [15]:
'''
#(Q) How many data points for each class are present? 
#(or) How many flowers for each species are present?
'''
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

#Load Iris.csv into a pandas dataFrame.
iris = pd.read_csv("iris.csv")
#print(iris.head())
print('Flowers in each class are as below  : ')
iris.groupby(['species']).count()

Flowers in each class are as below  :

            sepal_length  sepal_width  petal_length  petal_width
species
setosa                50           50            50           50
versicolor            50           50            50           50
virginica             50           50            50           50